# VS Code stuff
.vscode/

# Python binaries
__pycache__
*.pyc
*.egg-info/*

# Data
*.json
*.tfrecords

# Training artifacts
*.pt
lightning_logs
wandb
*.pth
**/checkpoints/**
*.onnx

# Credentials
dota-draft-*.json