apache_beam[gcp]==2.42.0
attrs==22.1.0
functions_framework==3.2.1
google-cloud-storage==2.6.0
numpy==1.22.4
onnx==1.12.0
onnxruntime==1.13.1
pytorch-lightning==1.8.1
requests==2.28.1
torch==1.13.0
torchmetrics==0.10.2
wandb[gcp]==0.13.5
PyYAML==6.0
